---
# this is an empty front matter
---

        <!DOCTYPE html>
        <html lang="de">
        <head>

        <title>Diamantenankauf in Bingen - Ihr Juwelier Fein</title>

        <meta name="robots" content="noindex, nofollow">

        {% include header.html %}





<!-- hero -->
<section id="hero" class="diamanten">
  <div class="wrapper_hero">

      <div class="title_hero">
      <h3 id="small" class="first">Begutachtung</h3>
      <h2 id="big">Diamanten</h2>
      <h3 id="small" class="sec">Wertermittlung</h3>
      </div>

      <div class="unten_hero">
        <img id="arrow" src="img/fill.png">
      </div>


  </div>
</section>

<h1>Diamanten verkaufen in Bingen</h1>


<!--area_text-->
<section class="seitentext">
  <div class="wrapper seiten">

    <h2 class="title">Diamanten und mehr</h2>

    <p class="textseite">
      Die Begutachtung von Diamanten erfolgt nach vier Kriterien:
      Gewicht (Carat), Reinheit (Clarity), Farbe (Color) sowie Schliffausführung (Cut).
      Selbstverständlich erfolgt die Bewertung unverbindlich und kostenfrei.
      <br><br>
      Diamanten zählen nicht nur zu den härstesten sondern auch zu den wertvollsten Edelsteinen.
      Edelsteine, zu denen auch Diamanten gezählt werden, müssen die drei
      Kriterien Seltenheit, besondere Härte und Transparenz erfüllen. Sonst gelten Sie nicht als Diamanten.
      Neben dem Diamant sind auch der Rubin Edelstein, der Saphir, der Smaragd und der Opal bekannte Edelsteine.
    </p>

</div>
</section>

<!--area5-->
<section id="area5">

  <div class="wrapper">

  <h3 class="untertitle">unserer</h3>
  <h2 class="title">Kontakt</h2>


  <div class="inner_wrapper">

  <div class="inner1">
    <img src="/img/black.svg" alt="">
    <h4>06721 70 83 680</h4>
    <p>Erreichbar von 09:30 bis 17:30 Uhr. Kosten für Gespräche varrieren je nach Mobilfunkanbieter.</p>
  </div>


  <div class="inner1">
    <img src="/img/message.svg" alt="">
    <h4>juwelier-fein@gmx.de</h4>
    <p>Emails werden täglich überprüft und beantwortet. Sollte Ihr Anliegen dringend sein, rufen Sie einfach an.</p>
  </div>

  </div>

  <div class="formular">
    <h5>Oder nutzen Sie das Formular</h5>

    <form class="" action="https://formspree.io/juwelier-fein@gmx.de" method="POST">
      <input type="Name" name="" value="" placeholder="Name">
      <input type="Email" name="" value="" placeholder="Email">
      <textarea rows="7"></textarea>
      <input type="submit" name="Submit" value="Senden" placeholder="Submit">
    </form>
  </div>
</section>

{% include footer.html %}





  </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>
