---
# this is an empty front matter
---

    <!DOCTYPE html>
    <html lang="de">
    <head>

    <title>Die Anfahrt zu Ihrem Juwelier in Bingen</title>

    {% include header.html %}




<!-- hero -->
<section id="hero" class="anfahrt">
  <div class="wrapper_hero">

      <div class="title_hero">
      <h3 id="small" class="first">Besuchen Sie</h3>
      <h2 id="big">Anfahrt</h2>
      <h3 id="small" class="sec">Uns vor Ort</h3>
      </div>

      <div class="unten_hero">
        <img id="arrow" src="img/fill.png">
      </div>


  </div>
</section>



<section id="anfahrt">

  <div class="wrapper anfahrt">

    <h2 class="title">Unsere Adresse in Bingen</h2>

    <p style="text-align: center; color: #676767">
      Juwelier Bingen
      <br>
Rathausstr. 27
      <br>
55411 Bingen
      <br>
      <br>
Geöffnet:
      <br>
<strong>Montag bis Freitag</strong> von 09:30 Uhr bis 17:30 Uhr
      <br>
<strong>Samstag</strong> von 09:30 Uhr Uhr bis 12:30 Uhr
</p>


   <img class="anfahrt-image" src="/img/map.png" alt="">

  </div>

</section>

<!--area5-->
<section id="area5">

  <div class="wrapper">

  <h3 class="untertitle">unserer</h3>
  <h2 class="title">Kontakt</h2>


  <div class="inner_wrapper">

  <div class="inner1">
    <img src="/img/black.svg" alt="">
    <h4>06721 70 83 680</h4>
    <p>Erreichbar von 09:00 bis 17:30 Uhr. Kosten für Gespräche varrieren je nach Mobilfunkanbieter.</p>
  </div>


  <div class="inner1">
    <img src="/img/message.svg" alt="">
    <h4>goldankauf.bingen@gmx.de</h4>
    <p>Emails werden täglich überprüft und beantwortet. Sollte Ihr Anliegen dringend sein, rufen Sie einfach an.</p>
  </div>

  </div>

  <div class="formular">
    <h5>Oder nutzen Sie das Formular</h5>

    <form class="" action="https://formspree.io/goldankauf.bingen@gmx.de" method="POST">
      <input type="Name" name="" value="" placeholder="Name">
      <input type="Email" name="" value="" placeholder="Email">
      <textarea rows="7"></textarea>
      <input type="submit" name="Submit" value="Senden" placeholder="Submit">
    </form>
  </div>
</section>

{% include footer.html %}





  </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>
