---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Goldankauf Fein - Ihr Juwelier in Bingen</title>

{% include header.html %}

<!-- hero -->
<section id="hero">
  <div class="wrapper_hero">

      <div class="title_hero">
      <h3 id="small" class="first">Der Nette</h3>
      <h2 id="big">Goldankauf</h2>
      <h3 id="small" class="sec">In Ihrer Nachbarschaft</h3>
      </div>

      <div class="unten_hero">
        <p class="unter">
          Guenstig<br>
          Vertraulich<br>
          Hochwertig<br>
        </p>
        <img id="arrow" src="img/fill.png" alt="pfeil-nach-unten">
      </div>


  </div>
</section>

 <h1>Schmuckankauf, Goldankauf und Juwelier aus Bingen am Rhein.</h1>

<!-- area1 -->
<section id="area1">
  <div class="wrapper">

    <div class="links">
      <h2 class="title">Über Uns</h2>
      <img src="/img/fill2.svg" alt="icon-ring">
    </div>

    <div class="rechts">
      <hr>
      <h3 class="untertitle">seit 2011</h3>
    </div>

  </div>
</section>

<!-- area2 -->
<section id="area2">
  <div class="wrapper">


<div class="textarea">
  <p class="text">Bingen am Rhein. Unsere schöne Stadt am Rheinknie wurde bereits von den Römern sehr verehrt.
   Neben dem Mäuseturm, der Burg Klopp und der erfolgreichen Landesgartenschau, glänzt
   <strong><a href="https://en.wikipedia.org/wiki/Bingen_am_Rhein" target="_blank" >Bingen</a></strong> vor allem mit seiner idyllischen Umgebung.
<br><br>
Wir haben uns in dieser Stadt das Ziel gesetzt, ihre Anlaufstelle für den Ankauf und Verkauf von <strong>Schmuck</strong>,
<strong>Edelmetallen</strong> und <strong>goldhaltigen</strong> Gegenständen zu werden.
<br><br>
Wir sind ein <strong>lokales</strong> Familienunternehmen mit vielen Partnern und Freunden rund
um Bingen und dem gesamten Rheingau-Taunus-Kreis.
Neben Bingen, sind wir für unsere Kunden und Partner auch in <a href="https://en.wikipedia.org/wiki/R%C3%BCdesheim_am_Rhein">Rüdesheim</a>,
Bad Kreuznach, Ingelheim, Geisenheim, Rheinböllen und Östrich Winkel da.
<br><br>
 Es spielt keine Rolle ob Sie ihren wertvollen Schmuck, eine <strong>antike Goldkette</strong> oder
   andere Diamanten oder Edelmetalle verkaufen möchten - Wir stehen Ihnen vor Ort
   mit unserem netten Team zur Seite. Daneben kaufen wir ebenfalls eine umfassende
   Auswahl an antiken und teuren <strong>Luxusuhren</strong> an, z.B. Cartier, Rolex oder Breitling.
<br><br>
Wir genießen einen guten Ruf in der Umgebung, der sich in einer <strong>fairen</strong> Bedienung, einem soliden Goldpreis
und einer kostenlosen Beratung auszeichnet.
Kommen Sie vorbei und wir ermitteln den Wert Ihres Schmuckstückes - zu 100% unverbindlich - und mit
einem Lächeln auf den Lippen.
<br><br>
Ich freue mich sehr auf Sie.
<br><br>
<strong>Markus Karatas (Inhaber)</strong>
</p>
   </div>



  <div class="artikel">
    <div class="bild">
      <img src="img/goldankauf-innen.jpg" alt="geschäft_innen" title="geschäft_innen">
      <img src="img/goldankauf-storefront.JPG" alt="geschäft_außen" title="geschäft_außen">
      <img src="img/goldankauf-schild.JPG" alt="geschäftsschild" title="geschäftsschild">
    </div>


</div>
</section>



<!-- area3 -->
<section id="area3">
  <div class="wrapper">
    <h3 class="untertitle">Entdecken Sie</h3>
    <h2 class="title">Ihre Vorteile</h2>

    <div class="wrapper_vorteile">

      <div class="vorteil">
        <img src="/img/abgeben.svg" width="70px" alt="beratung_icon">
        <h3 class="icon_title">Abgeben</h3>
        <p class="icon_text">Ehrliche und Freundliche Beratung.
          Alle Prüfschritte erfolgen <strong>vor den Augen des Kunden.</strong> Wir verschwindern mit ihren Schmuckstücken nicht
         im Hinterzimmer.</p>
      </div>

      <div class="vorteil">
        <img src="/img/bewerten.svg" width="70px" alt="schmuckbewertung_icon">
        <h3 class="icon_title">Bewerten</h3>
        <p class="icon_text">Unverbindliche Bewertung. Wir ermitteln den Feingoldgehalt und
        die Echtheit ihrer Schmuckstücke kostenlos und unverbindlich mit <strong>zerstörungsfreien Methoden.</strong></p>
      </div>

      <div class="vorteil">
        <img src="/img/verdienen.svg" width="70px" alt="barauszahlung_icon">
        <h3 class="icon_title">Verdienen</h3>
        <p class="icon_text">Barauszahlung ohne Wartezeit.
          Sollten Sie mit unseren Ankaufspreisen einverstanden sein, erhalten Ihr Geld <strong>umgehend
          in Bar ausgezahlt.</strong> Es gibt keine weiteren Fristen.</p>
      </div>

    </div>
  </div>
</section>

<!-- area3 -->
<section id="area3">
  <div class="wrapper">
    <h3 class="untertitle">alten und nicht genutzen</h3>
    <h2 class="title">Schmuck verkaufen</h2>

    <div class="wrapper_vorteile">


        <img src="/img/kette.svg" width="50px" alt="kette">
        <img src="/img/zahngold.svg" width="50px" alt="zahn-gold-icon">
        <img src="/img/ring.svg" width="50px" alt="ring">
        <img src="/img/ohrring.svg" width="50px" alt="ohrring">

 <p class="text" id="mitte">
Bei uns können Sie nicht nur ihre alten Halsketten, Ohrringe oder Ringe loswerden sonder
   dazu auch, altes Zahngold oder Bruchgold. Es spiel keine Rolle ob handgefertigt,
   mit Gravur verziert oder abgetragen - wir kaufen ihren alten Schmuck.
      </p>

    </div>
  </div>
</section>



<!-- area4 -->
<section id="area4">
  <img id="arrow2" src="img/fill.png" alt="Pfeil_nach_unten">
  <div class="wrapper">
    <h3 class="untertitle">aktuelle</h3>
    <h2 class="title">Gold- und Edelmetall Preise</h2>
    <p class="text">
Der <a href="https://de.wikipedia.org/wiki/Goldpreis"><strong>Goldpreis</strong></a> wird in US-Dollar notiert und in Europa sind die Städte Zurich, Paris und London dafür
verantwortlich. <strong>Viele wichtige Faktoren</strong> spielen bei der Bestimmung des Preises eine Rolle. Zum einen der Ölpreis,
die verschiedenen Zinssätze, der Preis anderer Edelmetalle und manchmal sogar
auch die <strong>Emotionen der Anleger</strong>. Der Preis wird letztendlich durch das Marktgleichgewicht festgelegt.
<br><br>
Ist eine Inflation im Anmarsch, können wir sehr schnell eine hohe Volatilität auf dem <strong>Goldmarkt</strong> beobachten.
Ein wichtiger Einflussfaktor in Sachen <strong>Silberpreis</strong>, sind vor allem Arbitrage-Geschäfte wie z.B. Swaps. Außerdem spielt
die Indutrie auf diesem Markt eine sehr große Rolle.
<br><br>
Platin eignet sich durch seine Festigkeit für Schreibfedern, aber auch für verschiedene andere <strong>Schmuckstücke</strong>.
Platinpreise können sehr stark schwanken, da <strong>Platinbergwerke</strong> nicht in einer sehr hohen Anzahl verfügbar sind. (in Südafrika finden wie viele davon),
Platin ist ein eher seltenes Edelmetall.
<br><br>
Gerne erklären wir Ihnen vor Ort noch mehr dazu, bis dahin sollten Sie wissen, dass wir uns immer an den <strong>aktuellen Tagespreisen</strong> orientieren.
Wir geben alles, um ihnen mehr als nur die Marktüblichen Preise zu bieten und bei uns,
brauchen Sie keine Angst vor <strong>enormen Abschlägen</strong> zu haben.
    </p>

    <div class="preise_wrapper">

      <div class="preise">
        <h3 class="preise_tag">Platin</h3>
        <h3 class="preis">24.937 €</h3>
      </div>

      <div class="preise">
        <h3 class="preise_tag gold">Gold</h3>
        <h3 class="preis gold">34.850 €</h3>
      </div>

      <div class="preise">
        <h3 class="preise_tag">Silber</h3>
        <h3 class="preis">459 €</h3>
      </div>

    </div>


    <p class="text">In KG<br>
    genaue Preise</p>

 <a HREF="http://www.kitco.com/connecting.html">
   <IMG id="charte" SRC="http://www.kitconet.com/charts/metals/platinum/t24_pt_en_eukg_2.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
 </a>

<a HREF="http://www.kitco.com/connecting.html">
  <IMG id="charte" SRC="http://www.kitconet.com/charts/metals/gold/t24_au_en_eukg_2.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
</a>

<a href="http://www.kitco.com/connecting.html">
 <IMG id="charte" src="http://www.kitconet.com/charts/metals/silver/t24_ag_en_eukg_2.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
</a>




  </div>
</section>



   <!-- area1 -->
<section id="area2">
  <div class="wrapper">


    <h3 class="direction">Schauen Sie sich unsere <strong>Feingoldbestimmung</strong> bei YouTube an.</h3>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/FxjvaCleX8g" frameborder="0" allowfullscreen></iframe>

    <h3 class="direction">Sie finden uns in Bingen in der nähe des <strong>alten Rathauses</strong> und in der Nähe
      der <strong>Fruchtgasse.</strong></h3>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10265.28248991278!2d7.894423!3d49.9678455!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a8bba3a3e547cf2!2sGoldankauf+Fein!5e0!3m2!1sen!2sde!4v1510316965230" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


  <h3 class="direction">Unser Geschäft liegt in der <strong>Rathaustraße 27</strong>.</h3>

  <img id="bildraum" src="/img/unser-geschaeft.jpg" alt="unser geschäft in bingen" title="geschäft-in-bingen">

  <h3 class="direction">Wir freuen uns auf Ihren Besuch!</h3>

  </div>
</section>

<!--area5-->
<section id="area5">

  <div class="wrapper">

  <h3 class="untertitle">Kontakt</h3>
  <h2 class="title">Schreiben Sie uns eine Nachricht.</h2>


  <div class="inner_wrapper">

  <div class="inner1">
    <img src="/img/black.svg" alt="icon-telefon">
    <h4>06721 70 83 680</h4>
    <p>Erreichbar von 09:00 Uhr bis 17:30 Uhr. Kosten für Gespräche varrieren je nach Mobilfunkanbieter.</p>
  </div>


  <div class="inner1">
    <img src="/img/message.svg" alt="icon-nachricht">
    <h4>goldankauf.bingen@gmx.de</h4>
    <p>Emails werden täglich überprüft und beantwortet. Sollte Ihr Anliegen dringend sein, rufen Sie einfach an.</p>
  </div>

  </div>

  <div class="formular">
    <h5>Oder nutzen Sie das Formular</h5>

    <form class="" action="https://formspree.io/ayherbert@yahoo.de" method="POST">
      <input type="Name" name="" value="" placeholder="Name">
      <input type="Email" name="" value="" placeholder="Email">
      <textarea rows="7"></textarea>
      <input type="submit" name="Submit" value="Senden" placeholder="Submit">
    </form>
  </div>
</section>

{% include footer.html %}





  </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>
