---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="de">
<head>

<title>Rinf verkleinern lassen [Goldschmied 5+] - Juwelier Bingen</title>

{% include header.html %}



<!-- hero -->
<section id="hero" class="uhren">
  <div class="wrapper_hero">

      <div class="title_hero">
      <h3 id="small" class="first">Schmuckstücke</h3>
      <h2 id="big">Ringe</h2>
      <h3 id="small" class="sec">Größenänderungen</h3>
      </div>

      <div class="unten_hero">
        <img id="arrow" src="img/fill.png">
      </div>


  </div>
</section>


<h1>Ringe verkleinern lassen</h1>

<!--area_text-->
<section class="seitentext">
  <div class="wrapper seiten">

    <h2 class="title">Wir verkleinern Ihren Ehering</h2>

    <p class="textseite">
            

        Die Änderung der Ringgröße ist ein Prozess, bei dem der Ring so verändert wird, dass er auf einen größeren oder kleineren
        Finger passt. Wenn man es sich vorstellt, klingt es kompliziert, eigentlich ist es das aber gar nicht. 

        Im Gegenteil, sobald sie wissen, welche Größe die richtige für sie ist, ist der ganze Prozess ziemlich einfach. Die Frage die sich
        viele stellen, wie lange dauert es bis mein Ring in der neuen Größe verfügbar ist?
            
        Es spielt keine Rolle, ob Sie nach einem Weg suchen, wie Sie Ihre Ringgröße ändern können, ob Sie mehr über die Kosten erfahren möchten oder 
        ob Sie wissen möchten, wie lange die Bearbeitungszeit ist. Lesen Sie einfach weiter und wir erklären Ihnen alles Schritt für Schritt.

    </p>
        
    
        <h2>Wie sieht die Größenänderung aus?</h2>


        <p class="textseite">

        Es spielt keine Rolle, ob Sie Ihren Ring vergrößern oder verkleinern möchten, muss am Schaft geschnitten werden. Dann wird
        das erforderliche Metall des Ringes eingesetzt oder entfernt.

         </p>


         <h2>Ring verkleinern</h2>
            
         <p class="textseite">
            Die Verkleinerung eines Ringes nach unten ist ein einfacherer Prozess im 
            Vergleich zur Größenänderung nach oben. Bei der Ringverkleinerung wird der Ringschaft kleiner.

            Wir als <a href="/">Juwelier Bingen</a> nehmen dann einen kleinen Teil des Bandes heraus und fügen dann die Stücke wieder zusammen.
            Der Ring wird wieder zu einer runden Form verarbeitet und anschließend kommt alles wieder an seinen Platz. Ganz einfach! Das Löten
            gehört zu unserem täglichen Handwerk. Dabei wir die Verbindung von zwei separaten Metallteilen zu einer dünnen Schicht verarbeitet, welche
            die Metalle wieder vereint.

            Nach dem Löten, wird Ihr Schmuckstück poliert und gereinigt. So werden Antioxidantien die beim Löten entstehen entfernt und die
            Oberfläche wird geglättet. Der ganze Prozess kann bis zu einer viertel Stunde dauern. Je nach individuellen Design, dem Stein oder anderen
            Indikatoren, kann die Größenänderung manchmal mehr Zeit in Anspruch nehmen. Nachdem wir die Größe geändert haben, wir der Ring natürlich poliert.
            So erscheint er in einem neuen Glanz. 
        </p>
            
        <h2>Ring vergrößen</h2>
    
        <p class="textseite">

        Das Vergrößern eines Ringes ist die komliziertere der beiden Methoden. Je nachdem wie stark die Größe geändert werden soll. Aber, keine Sorge!
        Mit unserer langjährigen Erfahrung schaffen wir auch das problemlos.

        Dafür benutzen wir verschiedene Methoden, je nachdem wie stark die Größe angepasst werden muss. Eine Möglichkeit, ist das Strecken des Bandes.
        Das ist immer eine gute Option, wenn der Ring beispielswiese nur um eine halbe Nummer angepasst werden muss. Je nach Material und der Beschaffenheit des Ringes,
        nimmt auch das ca. eine viertel Stunde in Anspruch.
            
        </p>

    


  


</div>
</section>

<!--area5-->
<section id="area5">

  <div class="wrapper">

  <h3 class="untertitle">unserer</h3>
  <h2 class="title">Kontakt</h2>


  <div class="inner_wrapper">

  <div class="inner1">
    <img src="/img/black.svg" alt="">
    <h4>06721 70 83 680</h4>
    <p>Erreichbar von 09:00 bis 17:30 Uhr. Kosten für Gespräche varrieren je nach Mobilfunkanbieter.</p>
  </div>


  <div class="inner1">
    <img src="/img/message.svg" alt="">
    <h4>juwelier-fein@gmx.de</h4>
    <p>Emails werden täglich überprüft und beantwortet. Sollte Ihr Anliegen dringend sein, rufen Sie einfach an.</p>
  </div>

  </div>

  <div class="formular">
    <h5>Oder nutzen Sie das Formular</h5>

    <form class="" action="https://formspree.io/juwelier-fein@gmx.de" method="POST">
      <input type="Name" name="" value="" placeholder="Name">
      <input type="Email" name="" value="" placeholder="Email">
      <textarea rows="7"></textarea>
      <input type="submit" name="Submit" value="Senden" placeholder="Submit">
    </form>
  </div>
</section>

{% include footer.html %}





  </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>
