body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Playfair Display", serif; }

.title {
  font-size: 3rem;
  color: #dbc4a1;
  text-align: center;
  letter-spacing: 0em; }

.untertitle {
  color: #B4B4B4;
  letter-spacing: 7.5;
  font-size: 0.6rem;
  text-transform: uppercase; }

.text {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  color: #5c5c5c;
  font-family: "Roboto", sans-serif; }

.wrapper {
  width: 1060px;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

@media only screen and (max-width: 600px) {
  .text {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    color: #5c5c5c;
    font-family: "Roboto", sans-serif; } }
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 30px 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5); }
  header #main_nav {
    position: absolute;
    top: 170px;
    z-index: 2; }
    header #main_nav ul {
      padding-left: 0px; }
      header #main_nav ul a {
        text-decoration: none; }
      header #main_nav ul li {
        list-style: none;
        display: inline-block;
        padding: 15px;
        color: white;
        letter-spacing: 0.03rem; }

#menu {
  display: none; }

#logo {
  display: block; }

@media only screen and (max-width: 600px) {
  #menu {
    display: block;
    padding-top: 10px;
    z-index: 9999;
    color: #dbc4a1;
    text-align: center;
    font-size: 1.5rem; }

  #menu.active {
    color: white;
    position: absolute;
    top: 10px;
    left: 30px;
    border: none; }

  #main_nav {
    display: none;
    transform: translate3d(0, 0, 100%); }

  #main_nav.active {
    display: block;
    width: 100%;
    background-color: rgba(178, 158, 132, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh; }
    #main_nav.active ul {
      padding-left: 0px; }
    #main_nav.active li {
      display: block;
      padding: 30px;
      color: #1e1813; }

  #logo {
    display: block;
    padding: 20px; } }
#hero {
  height: 800px;
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #hero .wrapper_hero {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #hero .wrapper_hero .title_hero {
      position: absolute;
      left: 100px; }
      #hero .wrapper_hero .title_hero #small.first {
        border-top: 1px solid #dbc4a1;
        color: white;
        letter-spacing: 7.5;
        margin: 0;
        padding-top: 15px;
        font-size: 1rem; }
      #hero .wrapper_hero .title_hero #big {
        color: #dbc4a1;
        font-size: 5rem;
        margin: 5px 0 5px 0; }
      #hero .wrapper_hero .title_hero #small.sec {
        margin: 0;
        color: white;
        letter-spacing: 7.5;
        font-size: 1rem; }

    #hero .wrapper_hero .unten_hero {
      width: 100%;
      max-width: 100%
      position: absolute;
      bottom: 0;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center; }
      #hero .wrapper_hero .unten_hero .unter {
        text-align: center;
        line-height: 1.5rem;
        color: white; }

#arrow {
  animation: hop 0.8s infinite;
 }

@-webkit-keyframes hop {
  0% {
    bottom: 1px; }
  50% {
    bottom: 9px; }
  100% {
    bottom: 1px; } }
@-moz-keyframes hop {
  0% {
    bottom: 1px; }
  50% {
    bottom: 9px; }
  100% {
    bottom: 1px; } }
@keyframes hop {
  0% {
    bottom: 1px; }
  50% {
    bottom: 9px; }
  100% {
    bottom: 1px; } }
@media only screen and (max-width: 600px) {
  #hero {
    height: 600px; }
    #hero .wrapper_hero {
      height: 600px; }
      #hero .wrapper_hero .title_hero {
        position: relative;
        left: auto; }
        #hero .wrapper_hero .title_hero #small.first {
          border-top: 1px solid #dbc4a1;
          color: white;
          letter-spacing: 6.5;
          margin: 0;
          padding-top: 15px;
          font-size: 0.7rem;
          text-transform: uppercase;
          text-align: center; }
        #hero .wrapper_hero .title_hero #big {
          color: #dbc4a1;
          font-size: 2rem;
          margin: 5px 0 5px 0;
          text-align: center; }
        #hero .wrapper_hero .title_hero #small.sec {
          text-align: center;
          margin: 0;
          color: white;
          letter-spacing: 6.5;
          font-size: 0.7rem;
          text-transform: uppercase; }
#area1 .wrapper {
  padding-top: 100px;
  padding-bottom: 20px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #area1 .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #area1 .wrapper .links {
    width: 30%;
    float: left;
    position: relative;
    display: inline-block; }
    #area1 .wrapper .links img {
      position: absolute;
      top: -50px;
      left: 60px; }
  #area1 .wrapper .rechts {
    width: 70%;
    float: right; }
    #area1 .wrapper .rechts hr {
      border-top: 1px solid #dbc4a1; }

@media only screen and (max-width: 700px) {
  #area1 .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #area1 .wrapper .links {
    width: 70%;
    float: left; }
    #area1 .wrapper .links h2 {
      font-size: 2rem; }
  #area1 .wrapper .rechts {
    width: 40%;
    float: right; } }
#area2 .wrapper {
  width: 800px;
  padding-top: 10px;
  padding-bottom: 50px; }
  #area2 .wrapper .artikel {
    display: flex;
    justify-content: center;
    align-items: center; }
    #area2 .wrapper .artikel::after {
      clear: both;
      content: "";
      display: table; }
    #area2 .wrapper .artikel .bild img {
      width: 400px;
      float: left;
      max-width: 100%;
      box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68); }
    #area2 .wrapper .artikel .textarea {
      width: 70%;
      float: right;
      padding-left: 30px;
      box-sizing: border-box; }
      #area2 .wrapper .artikel .textarea .text {
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.5rem;
        letter-spacing: 0.03rem;
        color: #5c5c5c;
        font-family: "Roboto", sans-serif; }

@media only screen and (max-width: 700px) {
  #area2 .wrapper {
    padding-top: 0px;
    padding-bottom: 0px; }
    #area2 .wrapper .artikel {
      flex-direction: column; }
      #area2 .wrapper .artikel .bild img {
        float: none;
        margin: 0 auto; }
      #area2 .wrapper .artikel .textarea {
        width: 100%;
        float: none;
        padding-left: 0px;
        padding-top: 10px; }
        #area2 .wrapper .artikel .textarea .text {
          text-align: center;
          font-size: 0.9rem;
          line-height: 1.5rem;
          letter-spacing: 0.03rem;
          color: #5c5c5c;
          font-family: "Roboto", sans-serif; } }
#area3 .wrapper {
  width: 800px;
  text-align: center; }
  #area3 .wrapper .title {
    font-size: 3rem;
    margin: 0; }
  #area3 .wrapper .wrapper_vorteile {
    padding-top: 20px; }
    #area3 .wrapper .wrapper_vorteile .vorteil {
      width: 30%;
      display: inline-block;
      padding: 20px;
      box-sizing: border-box; }
      #area3 .wrapper .wrapper_vorteile .vorteil .icon_title {
        color: #656565;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 800; }
      #area3 .wrapper .wrapper_vorteile .vorteil .icon_text {
        color: #B9B9B9;
        font-family: "Roboto", sans-serif;
        font-size: 0.9rem;
        letter-spacing: 0.03rem;
        font-weight: 300; }

@media only screen and (max-width: 500px) {
  #area3 .wrapper {
    width: 800px;
    text-align: center; }
    #area3 .wrapper .wrapper_vorteile {
      padding-top: 10px; }
      #area3 .wrapper .wrapper_vorteile .vorteil {
        width: 50%; } }
#area4 {
  background-color: #f9f8f4;
  text-align: center;
  position: relative;
  margin: 0 auto; }
  #area4 img {
    position: absolute;
    top: -30px; }
  #area4 .wrapper {
    width: 800px;
    text-align: center; }
    #area4 .wrapper::after {
      clear: both;
      content: "";
      display: table; }
    #area4 .wrapper .title {
      margin: 0; }
    #area4 .wrapper .text {
      text-align: center; }
    #area4 .wrapper .preise_wrapper {
      border-top: 1px solid #dbc4a1;
      border-bottom: 1px solid #dbc4a1; }
      #area4 .wrapper .preise_wrapper::after {
        clear: both;
        content: "";
        display: table; }
      #area4 .wrapper .preise_wrapper .preise {
        display: inline-block;
        width: 33.3333%;
        float: left; }
        #area4 .wrapper .preise_wrapper .preise .preise_tag {
          font-size: 1.5rem;
          color: #666666;
          margin-bottom: 0px; }
        #area4 .wrapper .preise_wrapper .preise .preise_tag.gold {
          font-size: 2.3rem;
          color: #666666; }
        #area4 .wrapper .preise_wrapper .preise .preis {
          font-size: 2rem;
          color: #C0C0C0;
          margin-top: 0px; }
        #area4 .wrapper .preise_wrapper .preise .preis.gold {
          font-size: 2.5em;
          color: #D5C2A5; }

@media only screen and (max-width: 500px) {
  #area4 .wrapper {
    text-align: center; }
    #area4 .wrapper .title {
      margin: 0; }
    #area4 .wrapper .text {
      text-align: center; }
    #area4 .wrapper .preise_wrapper {
      padding: 30px; }
      #area4 .wrapper .preise_wrapper .preise {
        width: 60%;
        float: none; }
        #area4 .wrapper .preise_wrapper .preise .preise_tag {
          margin-top: 10px;
          margin-bottom: 0px; }
        #area4 .wrapper .preise_wrapper .preise .preise_tag.gold {
          font-size: 1.5rem;
          color: #666666; }
        #area4 .wrapper .preise_wrapper .preise .preis {
          margin-top: 0px;
          margin-bottom: 10px; }
        #area4 .wrapper .preise_wrapper .preise .preis.gold {
          font-size: 2em;
          color: #D5C2A5; } }
#area5 {
  background-image: linear-gradient(-120deg, #2F2F2F 43%, #131313 100%);
  padding-top: 50px;
  text-align: center; }
  #area5 .wrapper h2 {
    margin: 0; }
  #area5 .wrapper .inner_wrapper {
    width: 750px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px; }
    #area5 .wrapper .inner_wrapper .inner1 {
      text-align: center;
      padding: 10px; }
      #area5 .wrapper .inner_wrapper .inner1 img {
        width: 60px;
        height: 100px; }
      #area5 .wrapper .inner_wrapper .inner1 h4 {
        color: #fafafa;
        font-size: 1.777rem;
        font-weight: lighter;
        padding: 0;
        margin: 0;
        padding: 10px;
        text-align: center; }
      #area5 .wrapper .inner_wrapper .inner1 p {
        color: #979797;
        font-weight: 300;
        padding: 0;
        margin: 0;
        line-height: 1.4rem;
        font-size: 0.9rem; }
  #area5 .wrapper .formular {
    text-align: center;
    padding-top: 50px; }
    #area5 .wrapper .formular h5 {
      color: #fafafa;
      font-size: 1.777rem;
      font-weight: normal;
      padding: 0;
      margin: 0;
      font-weight: 300; }
    #area5 .wrapper .formular form {
      padding-top: 20px;
      display: inline-block;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 50px;
      width: 700px; }
    #area5 .wrapper .formular input {
      width: 300px;
      border: none;
      padding: 10px;
      font-weight: 300;
      color: #333;
      margin-bottom: 20px;
      margin: 10px; }
    #area5 .wrapper .formular textarea {
      margin: 10px;
      border: none;
      width: 624px;
      padding: 10px; }
    #area5 .wrapper .formular input[type="submit"] {
      background-color: #e5d0a8;
      width: 100px;
      max-width: 90%; }

@media only screen and (max-width: 721px) {
  #area5 .wrapper .inner_wrapper {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    #area5 .wrapper .inner_wrapper .inner1 {
      text-align: center; }
      #area5 .wrapper .inner_wrapper .inner1 img {
        width: 60px;
        height: 100px; }
      #area5 .wrapper .inner_wrapper .inner1 h4 {
        font-size: 1.2rem;
        font-weight: lighter;
        padding: 0;
        margin: 0;
        padding: 10px; }
      #area5 .wrapper .inner_wrapper .inner1 p {
        color: #979797;
        font-weight: 300;
        padding: 0;
        margin: 0;
        line-height: 1.4rem;
        font-size: 0.9rem; }
  #area5 .wrapper .formular {
    text-align: center;
    padding-top: 50px; }
    #area5 .wrapper .formular h5 {
      font-size: 1.777rem;
      font-weight: normal;
      padding: 0;
      margin: 0;
      font-weight: 300;
      padding-left: 20px;
      padding-right: 20px; }
    #area5 .wrapper .formular form {
      padding-top: 20px;
      display: inline-block;
      margin-bottom: 50px;
      width: 100%; }
    #area5 .wrapper .formular input {
      border: none;
      padding: 10px;
      font-weight: 300;
      color: #333;
      margin-bottom: 20px;
      margin: 10px auto;
      width: 90%; }
    #area5 .wrapper .formular textarea {
      margin: 10px;
      border: none;
      padding: 10px;
      max-width: 90%; }
    #area5 .wrapper .formular input[type="submit"] {
      background-color: #e5d0a8;
      width: 100px;
      max-width: 90%; } }
footer {
  background-color: #333333;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: flex-start; }
  footer .adresse .title_footer {
    margin-bottom: 5px;
    color: #dbc4a1; }
  footer .adresse p {
    margin-top: 0;
    color: white;
    line-height: 1.5rem; }
  footer nav {
    margin-top: 30px; }
    footer nav a {
      text-decoration: none; }
    footer nav li {
      color: white;
      list-style: none;
      padding-bottom: 5px;
      font-size: 0.9rem; }

@media only screen and (max-width: 600px) {
  footer {
    background-color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center; } }
.seitentext .wrapper.seiten {
  width: 600px; }
  .seitentext .wrapper.seiten .textseite {
    text-align: left;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.03rem;
    font-weight: lighter;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif; }

.liste {
  width: 200px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: -30px;
  padding-left: 0px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68); }
  .liste li {
    padding-top: 10px;
    color: #939393;
    font-size: 1.2rem;
    letter-spacing: 0.09rem; }

#hero.uhren {
  background-image: url(/img/uhrmacher.png); }

#hero.goldschmied {
  background-image: url(/img/goldschmied.png); }

#hero.trauringe {
  background-image: url(/img/trauringe.png); }

#hero.goldankauf {
  background-image: url(/img/goldankauf.png); }

#hero.diamanten {
  background-image: url(/img/diamanten.png); }

#hero.anfahrt {
  background-image: url(/img/anfahrt.png); }

#anfahrt {
  text-align: center; }

.anfahrt-image {
  padding-top: 50px;
  max-width: 90%;
  width: 50%;
  margin: 0 auto; }
