---
# this is an empty front matter
---

        <!DOCTYPE html>
        <html lang="de">
        <head>

        <title>Über Uns - Ihr Goldankauf Fein aus Bingen</title>

        {% include header.html %}





<!-- hero -->
<section id="hero" class="diamanten">
  <div class="wrapper_hero">

      <div class="title_hero">
      <h3 id="small" class="first">Erfahren Sie mehr</h3>
      <h2 id="big">Über Uns</h2>
      <h3 id="small" class="sec">Wir freuen uns auf Sie!</h3>
      </div>

      <div class="unten_hero">
        <img id="arrow" src="img/fill.png">
      </div>


  </div>
</section>

<h1>Goldankauf Fein in Bingen</h1>


<!--area_text-->
<section class="seitentext">
  <div class="wrapper seiten">

    <h2 class="title">Schmuck und mehr</h2>

    <p class="textseite">
    Seit nun mehreren Jahren sind wir für die Stadt Bingen und Umgebung für Sie da. Bei unseren Kunden genießen wir
    einen sehr guten Ruf. Es spielt keine Rolle ob Sie aus Rüdesheim, Bad Kreuznach oder <a href="https://www.ingelheim.de/">Ingelheim</a> kommen.
    Wir kümmern uns um Ihren alten Schmuck, um Ihr Altgold oder um neue Schmuckstücke für verschiedene Anlässe wie z.B. die Verlobung, die Trauung
    oder einfach nur um sich was gutes zu tun.
    <br><br>
    Unser Geschäft befindet sich in der Rathausstr 27, ganz in der Nähe der Schmittstraße. Wir erweitern unser Sortiment und
    unseren Service ständig, schauen Sie deshalb immer mal wieder vorbei. Wir beraten Sie ganz unverbindlich vor Ihren Augen.
    Den guten Ruf in Bingen und Umgebung genießen wir nicht umsonst. Wir sind für unsere Kunden da und kümmern uns
    um Ihr Anliegen.
    <img src="/img/unser-geschaeft.jpg" alt="unser geschäft in bingen" title="goldankauf bingen">
    Neben dem Ankauf von Gold, Schmuck und Silber, führen wir ein Sortiment an wertvollen Uhren. Mit unsere Leidenschaft
    für wertvolle Uhren, verkaufen wir diese nicht nur sondern reparieren sie als gelernte <a href="index_2.html">Uhrmacher</a> auch. Daneben finden
    Sie bei uns ebenfalls wertvolle <a href="index_Trauringe.html">Trauringe</a> für den wichtigsten Tag in Ihrem Leben.
    Bei uns zählt der Kunde am meisten, wir geben also alles, damit sie zufrieden unser Geschäft wieder verlassen und natürlich auch
    gerne wiederkommen.
    <br><br>
    Wir zahlen Top Preise für Ihr Gold. Wir bieten schnellen und freundlichen Service so, dass Sie schnell
    und leicht Ihr Anliegen klären können. Der Grund warum wir Ihnen für Ihr Gold so einen guten Preis bezahlen können,
    ist der, dass wir es in großen Mengen verarbeiten. Wir sparen an Kosten indem wir die ganzen Prozesse
    (vom Ankauf bis zum Verkauf) in unserem Hause durchführen. Davon profitieren Sie natürlich am meisten.
    <br><br>
    Egal ob Sie also altes Zahngold rumliegen haben oder eines ihren alten Schmuckstücke verkaufen möchten, kommen Sie zu uns,
    lassen Sie uns zusammen den Preis schätzen und wenn Ihnen dieser gefällt, erhalten Sie umgehend Ihr Geld.
    Unser Team was aus Spezialisten rund um das Goldhandwerk, Silber, Uhren und Diamanten besteht freut sich sehr auf Sie.
    <br><br>
    Markus Karatas (Ihr Inhaber Goldankauf Fein in Bingen)
    </p>
</div>
</section>

<!--area5-->
<section id="area5">

  <div class="wrapper">

  <h3 class="untertitle">unserer</h3>
  <h2 class="title">Kontakt</h2>


  <div class="inner_wrapper">

  <div class="inner1">
    <img src="/img/black.svg" alt="">
    <h4>06721 70 83 680</h4>
    <p>Erreichbar von 09:00 bis 17:30 Uhr. Kosten für Gespräche varrieren je nach Mobilfunkanbieter.</p>
  </div>


  <div class="inner1">
    <img src="/img/message.svg" alt="">
    <h4>goldankauf.bingen@gmx.de</h4>
    <p>Emails werden täglich überprüft und beantwortet. Sollte Ihr Anliegen dringend sein, rufen Sie einfach an.</p>
  </div>

  </div>

  <div class="formular">
    <h5>Oder nutzen Sie das Formular</h5>

    <form class="" action="https://formspree.io/goldankauf.bingen@gmx.de" method="POST">
      <input type="Name" name="" value="" placeholder="Name">
      <input type="Email" name="" value="" placeholder="Email">
      <textarea rows="7"></textarea>
      <input type="submit" name="Submit" value="Senden" placeholder="Submit">
    </form>
  </div>
</section>

{% include footer.html %}





  </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>
