<!--footer-->
<footer>

  <div class="adresse">
    <h2 class="title_footer">Goldankauf Fein</h2>
    <p>Rathaustraße 27<br>
    55411 Bingen am Rhein<br>
    Telefon: 06721 - 7083680
    </p>
  </div>

  <div class="adresse">
    <h2 class="title_footer">Öffnungszeiten</h2>
    <p>Montag - Freitag<br>
      9:30 Uhr - 17:30 Uhr
    </p>
     <p>Samstag<br>
      9:30 Uhr - 13:30 Uhr
    </p>
  </div>

  <nav>
    <a href="index_impressum.html"><li>Impressum</li></a>
    <a href="über-uns.html"><li>Über Uns</li></a>
    <a href="index_datenschutz.html"><li>Datenschutz</li></a>
  </nav>





</footer>
